# env files
.env
*.gguf
*.safetensors
*.bin

# virtual environments
.venv/

# your folders to ignore (add/remove as needed)
faiss_index/
Data/Dataset Socrates/
llama.cpp/
lora_model/
outputs/
model/
unsloth_compiled_cache/
llama-b7132-bin-win-cpu-x64/


# editor/OS noise
.vscode/
.DS_Store
Thumbs.db
desktop.ini